deep-translator==1.11.4
Django==5.0.2
django-cors-headers==4.3.1
django-filter==23.5
django-rename-app==0.1.7
djangorestframework==3.14.0
google-auth==2.28.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
google-trans-new==1.1.9