@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#T-EXT-text-menu {
	display: grid;
	grid-template-columns: 3fr repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	align-items: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border: 0.1rem solid rgba(216, 216, 216, 1);
}

.T-EXT-text-0 { grid-area: 1 / 1 / 2 / 2; }
.T-EXT-text-1 { grid-area: 1 / 2 / 2 / 4; }
.T-EXT-text-2 { grid-area: 2 / 1 / 3 / 2; }
.T-EXT-text-3 { grid-area: 2 / 2 / 3 / 4; }
.T-EXT-text-4 { grid-area: 3 / 1 / 4 / 2; }
.T-EXT-text-5 { grid-area: 3 / 2 / 4 / 3; }
.T-EXT-text-6 { grid-area: 3 / 3 / 4 / 4; }
.T-EXT-text-7 { grid-area: 4 / 1 / 5 / 2; }
.T-EXT-text-8 { grid-area: 4 / 2 / 5 / 3; }
.T-EXT-text-9 { grid-area: 4 / 3 / 5 / 4; }
.T-EXT-text-10 { grid-area: 5 / 1 / 6 / 2; }
.T-EXT-text-11 { grid-area: 5 / 2 / 6 / 3; }
.T-EXT-text-12 { grid-area: 5 / 3 / 6 / 4; }

.T-EXT-text-grid-input {
	margin: 0 auto;
	display: block;
	text-align: center;
	justify-content: center;
}

.T-EXT-text-node {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	margin-left: 18px;
}

.T-EXT-text-button {
	font-family: "Inter", sans-serif;
	font-size: 28px;
	color: white;
	background-color: #4E9ADF;
    width: 40px;
    height: 40px;
}