@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#T-EXT-theme-menu {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border: 0.1rem solid rgba(216, 216, 216, 1);
}

.T-EXT-theme-menu-wrapper {
	position: relative;
	height: 90%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	align-items: center;
	top: 50%;
	transform: translateY(-50%);
	overflow-y: auto;
}

.T-EXT-theme-grid-input {

}

.T-EXT-theme-node {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	margin-left: 18px;
}

.T-EXT-theme-button {
	margin-left: 18px;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: white;
	background-color: #4E4E4E;
    width: 240px;
    height: 46px;
	border: none;
	text-align: left;
	padding-left: 15px;
}

.T-EXT-theme-button:hover {
	background-color: #232323;
}