#T-EXT-translate-menu {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border: 0.1rem solid rgba(216, 216, 216, 1);
}

.T-EXT-translate-menu-wrapper {
	position: relative;
	height: auto;
	max-height: 80%;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	align-items: start;
	justify-items: center;
	overflow-y: scroll;
}

.T-EXT-translate-node {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	margin-left: 18px;
}

.T-EXT-translate-button {
	margin-top: 7px;
	margin-bottom: 7px;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: white;
	background-color: #4E4E4E;
	width: 280px;
	height: 46px;
	box-sizing: border-box;
	border: none;
	text-align: left;
	padding-left: 15px;
	cursor: pointer;
}

.T-EXT-translate-button:hover {
	background-color: #232323;
}

.T-EXT-translate-search-bar {
	place-items: center;
	margin-top: 14px;
	margin-bottom: 7px;
	margin-left: 18px;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	text-align: left;
	padding-left: 10px;
}

.T-EXT-translate-selected {
	background-color: #4E9ADF;
}

.T-EXT-translate-selected:hover {
	background-color: #3377b5;
}