#T-EXT-dictionary-menu {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border: 0.1rem solid rgba(216, 216, 216, 1);
}

.T-EXT-dictionary-menu-wrapper {
	position: relative;
	height: auto;
	max-height: 86%;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	align-items: start;
	overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.T-EXT-dictionary-grid-1 {
	margin-left: 10px;
	margin-bottom: 0px !important;
	grid-area: 1 / 1 / 2 / 2;
}
.T-EXT-dictionary-grid-2 {
	margin-left: 5px;
	margin-bottom: 0px !important;
	justify-items: center;
	grid-area: 1 / 2 / 2 / 3;
}
.T-EXT-dictionary-grid-3 {
	font-size: 16px !important;
	padding-left: 10px;
	margin-top: 0px !important;
	grid-area: 2 / 1 / 5 / 3;
}

.T-EXT-dictionary-search-button {
	margin-top: 7px;
	margin-bottom: 7px;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: white;
	background-color: #4E4E4E;
	width: 145px;
	height: 46px;
	box-sizing: border-box;
	border: none;
	text-align: center;
	cursor: pointer;
	margin-bottom: 0px !important;
}

.T-EXT-dictionary-search-button:hover {
	background-color: #232323;
}

.T-EXT-dictionary-search-bar{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 75%;
	margin-top: 14px;
	margin-bottom: 7px;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	text-align: left;
}